window {
    font-family: 'Noto Sans Nerd Font';
    font-size: 20px;
    color: #1d2021; /* text */
    background-color: rgba(40, 40, 40, 0.76);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 20px;
    border: 4px solid #ebdbb2;
    background-color: rgba(40, 40, 40, 0.76);
    margin: 10px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    /* text-align: start; */
}

button:hover {
    background-color: rgb(238, 224, 189);
    color: #1d2021;
}

button:focus {
    background-color: #458588;
    color: #ebdbb2;
}

#lock {
    background-image: image(url('./lock.png'));
    background-size: 20%;
}
#lock:hover {
    background-image: image(url('./lock-hover.png'));
}

#logout {
    background-image: image(url('./logout.png'));
}

#logout:hover {
    background-image: image(url('./logout-hover.png'));
}

#suspend {
    background-image: image(url('./sleep.png'));
}

#suspend:hover {
    background-image: image(url('./sleep-hover.png'));
}

#shutdown {
    background-image: image(url('./power.png'));
}

#shutdown:hover {
    background-image: image(url('./power-hover.png'));
}

#reboot {
    background-image: image(url('./restart.png'));
}

#reboot:hover {
    background-image: image(url('./restart-hover.png'));
}
